body {margin:0; padding:0; font: 13px Arial, Helvetica, sans-serif; color: #000;}
.superheader, .header, .nav, .footer, #help, .button, .jnotify-container{display: none;visibility: hidden;}
.pagewrapper{margin: 0;}
#payment_history_container{height: auto;}